# .gitignore

# Игнорировать виртуальное окружение
venv/

# Игнорировать базу данных SQLite
db.sqlite3

# Игнорировать файлы настроек проекта
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы настроек IDE
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
